.carteMain {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.tuile {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px;
}

.carte {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px;
}