body{
    background-image: url('../images/plateau.png');
    background-size:cover;
    color: white;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.perdu {
    text-align: center;
    margin-top: 40vh;
    font-size: 100px;
    color: darkred;
}

.gagne {
    text-align: center;
    margin-top: 40vh;
    font-size: 100px;
    color: darkgreen;
}


.container{
    margin-top:-77px;
}
.couleurCarte{
    width:111px;
    height:154px;
    color: white;
    border: 1px solid black;
    background-size: cover;
}
.tuile{
    width:103px;
    height:114px;
    background-size: cover;
}
.cartePosee1, .cartePoseeB1, .cartePoseeB2, .cartePosee2{
    margin-bottom: 1rem;
}
.carte{
    width:111px;
    height:77px;
    border:1px solid white;
}
.mainJ2, .mainJ1, .tuilesJ1, .tuilesJ2, .ligne, .tuiles{
    justify-content: space-evenly;
}