@font-face {
    font-family: "CloisterBlack";
    src: url("../polices/CloisterBlack.ttf");
}
.dropdown-item{
    text-shadow: none;
}
.jeu_footer{
    background-color: transparent !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}
select{
    background-color: transparent;
    border: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
body{
    margin:0;
    background-image: url("../images/fond.png");
    background-attachment: fixed;
    background-size:cover;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:none !important;
}
body, html{
    height:100%;
    font-family: "Arial Rounded MT Bold", sans-serif !important;
}
header{
    height: 100%;
    margin:0 !important;
    justify-content: center;
    padding-top:3%;
    padding-bottom:3%;
    align-items: center;
}
h1{
    color: #bd1622;
    font-family: CloisterBlack, serif;
    font-size:4.5rem !important;
    line-height:0.5 !important;
}
h2{
    color: #bd1622;
    font-family: CloisterBlack, serif;
    font-size:3rem !important;
}
h3{
    font-family: CloisterBlack, serif;
    font-size:4.5rem !important;
    color: #bd1622;
}
p{
    font-size:1rem;
}
.container{
    background-color: #fff4d4;
    padding:0 !important;
}
.navbar-nav{
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}
.btn-decouvrir{
    background-color: #bd1622 !important;
    font-family: CloisterBlack, serif !important;
    font-size:1.5rem !important;
    border-radius:10px !important;
    padding:10px 40px !important;
    display: block !important;
    margin: 0 10px 0 10px;
}.btn-decouvrir:hover{
     background-color: white !important;
     color:#bd1622 !important;
 }
.btn-ajouter{
    background-color: #bd1622 !important;
    font-family: CloisterBlack, serif !important;
    font-size:1.5rem !important;
    border-radius:10px !important;
    padding:10px 40px !important;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    font-size:30px;
}
.logo_nav{
    width:135px;
}
.icones_nav{
    width:35px;
}
.center_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center_div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_div2b{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.center_div3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center_div4{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_li_centered{
    text-align: center;
}

header{
    height:428px;
    background-image: url("../images/jeu_header.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.jouer{
    height:100px;
}
.infos{
    height:500px;
}
.infos_container{
    height:214px;
    width: 610px;
    background-image:url("../images/jeu_infos.png");
    border-radius: 10px;
}
.combattez_container{
    height:284px;
    width: 664px;
    background-image:url("../images/jeu_combattez.png");
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.combattez2_container{
    height:284px;
    width: 284px;
    background-image:url("../images/jeu_compte.png");
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pseudo{
    color: #bd1622;
    font-size: 40px;
    font-family: CloisterBlack, serif;
}
.nbparties{
    background-color: #fff4d4;
    border-radius: 10px;
    font-size: 30px;
    font-family: CloisterBlack, serif;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}
.infosl1, .infosl2{
    justify-content: space-around;
    align-items: center;
}
.stats2{
    position:relative;
}
.infos_img{
    border-radius: 20px;
}
.winloss{
    font-size: 25px;
    font-family: CloisterBlack, serif;
}
.win{
    position: absolute;
    left: 35px;
    color:#bd1622;
}
.loss{
    position: absolute;
    right: 35px;
    color: #fff4d4;
}
.stats1{
    justify-content: space-between;
}
.parties{
    height:300px;
    display: flex;
    justify-content: space-evenly;
}
.personnages0{
    height:600px;
    display: flex;
    justify-content: space-around;
}
.delimiteur{
    margin:10px 0 30px 0;
}
.parties_gauche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thead{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: #c8a79a;
    align-items: center;
    margin-bottom:10px;
    border-radius: 10px;
}
.tbody{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30px;
    background-color: #c8a79a;
    align-items: center;
    margin-bottom:5px;
    border-radius: 10px;
}
.parties_droite{
    display: flex;
    align-items: center;
}
footer{
    height:350px;
    background-image:url("../images/footer.png");
    font-size:20px;
    display: flex !important;
    align-items: center;
}
footer p{
    font-size:25px;
}
footer ul{
    list-style: none;
    padding:0;
}
footer ul li{
    margin-bottom:10px;
}
footer ul li a{
    text-decoration: none;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
footer ul li a:hover{
    text-decoration: none;
    color: #bd1622;
}
footer ul li img{
    width:35px;
}

.account0 a{
    color:black;
}
.account0 a:hover{
    color:#bd1622;
}

.fb{
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    background-color: #2e3192;
    border-radius: 5px;
    cursor:pointer;
}
.twitter{
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    background-color: #00aeef;
    border-radius: 5px;
    cursor:pointer;
}
.fb2{
    height: 40px;
}
.fb3{
    color:white;
    font-family: CloisterBlack, serif;
    font-size: 22px;
}
.combattez{
    color:white;
    font-family: CloisterBlack, serif;
    font-size: 40px;
}
.compte{
    font-family: CloisterBlack, serif;
    font-size: 35px;
}
.account{
    background-color: #fff4d4;
    border: none;
    border-radius: 5px;
    margin-top:10px;
    padding:0 15px;
    height:35px;
}
.account0{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.account2{
    font-family: CloisterBlack, serif;
    background-color: #fff4d4;
    border: none;
    border-radius: 5px;
    color: #bd1622;
    font-size:30px;
    margin-top:10px;
    padding:0 30px;
}
.account2:hover{
    color:#fff4f4;
    background-color:#bd1622;
    transition: 0.5s;
}
.personnages{
    font-family: CloisterBlack, serif;
    font-size:50px;
}
.persos{
    background-image:url("../images/personnages.png");
    width:436px;
    height:408px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.lespersos{
    justify-content: space-evenly;
    width: 100%;
}
.adaptation1{
    background-color: #c8a79a;
    padding: 10px 20px;
    border-radius: 10px;
    width:100%;
}
.adaptation2{
    padding: 10px 20px;
    border-radius: 10px;
    width:100%;
}
.separation{
    margin: 50px 0;
}
.modifierCompte{
    background-color: #c8a79a;
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin-top:20px;
}
.senregistrer{
    color: #bd1622;
    font-size: 40px;
    font-family: CloisterBlack, serif;
    display:flex;
    justify-content: center;
}
.enregistrer{
    justify-content: center;
}
.enregistrerP{
    height:400px;
}
.valider{
    margin: 0 auto;
    margin-top:50px;

}
@media screen and (max-width: 992px){
    .logo{
        flex-direction:column;
    }
    .resaux{
        display: flex;
        margin-top: 20px;
    }
    .fb{
        margin-bottom:0;
        margin-right: 10px;
    }
    .twitter{
        margin-top:0;
        margin-left:10px;
    }
    .infos{
        flex-direction: column;
        height:650px;
    }

    .personnages0{
        height:1000px;
        flex-direction:column;
    }
    .adaptation1{
        width:70%;
    }
    .adaptation2{
        width:70%;
    }
    footer{
        height:600px;
        background-size:cover;
    }
}
@media screen and (max-width: 480px){
    header{
        height:280px;
    }
    .lelogo{
        width:70%;
    }
    .resaux{
        width:90%;

    }
    .fb{
        margin-right: 5px;
        padding: 5px;
    }
    .fb3{
        font-size:16px;
    }
    .fb2{
        height:25px;
    }
    .btn-decouvrir{
        padding: 5px 25px !important;
    }
    .combattez_container{
        display:none;
    }
    .infos{
        height:300px;
    }
}